@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Secular+One&display=swap');
//for menu links
$menu: 'Secular One', sans-serif;
//for text content inside elements
$content:'Roboto', sans-serif;
;
//for titles
$title:'Special Elite', cursive;