<div class="container">
    <h1>Best moments</h1>
    <div><iframe width="560" height="315" src="https://www.youtube.com/embed/NEus8en4nw4" frameborder="0"
            allowfullscreen></iframe></div>

    <div><iframe width="560" height="315" src="https://www.youtube.com/embed/X_4wLhA5h7M" frameborder="0"
            allowfullscreen></iframe></div>

    <div><iframe width="560" height="315" src="https://www.youtube.com/embed/Xnk4seEHmgw" frameborder="0"
            allowfullscreen></iframe></div>
    <div><iframe width="560" height="315" src="https://www.youtube.com/embed/Vmb1tqYqyII" frameborder="0"
            allowfullscreen></iframe></div>

    <div><iframe width="560" height="315" src="https://www.youtube.com/embed/AeZ6a1A0-ow" frameborder="0"
            allowfullscreen></iframe></div>

    <div><iframe width="560" height="315" src="https://www.youtube.com/embed/32zzZE658ec" frameborder="0"
            allowfullscreen></iframe></div>

</div>